# Before beginning...
I execute:
* In a terminal: docker start course-mysql
* the connection lines in this jupyter notebook.

In [1]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

# Problem 1 
Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx). (hint: This will help you decide how to load the data into the database)

Firstly, I execute:
* import re to bringing the python regular expression object into this jupyter notebook.
* import pymysql.cursors to loading the library package which allows interaction Python-MySQL.

Before, I open two files (Germplasm.tsv and LocusGene.tsv) for reading. Also, I open two files with Mozilla Firefox for watching its structure.

In [2]:
import re
import pymysql.cursors

Germplasm = open('Germplasm.tsv', 'r')
LocusGene = open('LocusGene.tsv', 'r')

**Explanation** 

Firstly, I have used seek(0) command to reset back to the beginning, and that reading all file.

Secondly, I have created two lists to collect only the information from AGI Locus Code since according to hypothetical scenario, the two files contain the same information in that column.

With conditionals, I have selected target values of lists (AGI Locus Code column) to compare if both are the same.

For comparison, two files have to interact. With "for" command I have succeeded. When I opened the files, I saw that they were tables and the Locus AGI Code were arranged in the same order. 

I have created a loop to read each row from the Germplasm table. With readlines(), I can read row by row one-at-a-time and do something useful with each read.Before, I have looked for the AGI which has the following structure: ATxGxxxxxx. I have used re.search command. Then, I have written a condition, If there is a match, I save those values. And this is repeated for the LocusGene file. Previously, I have used seek(0) command to reset back to the beginning. 

Finally, with comparison operators (==), I did the comparison between the two files that contained all the Locus AGI Code, and also, if files didn't match each other, I set its to tell me that there wasn't match (No match!!). On the other hand, if files matched each order, I set its to tell me Locus AGI Code + common value.

In [3]:
Germplasm.seek(0)
GermplasmAGICode = []
LocusGeneAGICode = []

for row in Germplasm.readlines():
    match = re.search (r'AT\dG\d+\s', row)
    if match:
        GermplasmRowCode = match.group()
        GermplasmAGICode.append(GermplasmRowCode)
        LocusGene.seek(0)
        for row2 in LocusGene.readlines():
            match2 = re.search(r'AT\dG\d+\s', row2)
            if match2:
                LocusGeneRowCode=match2.group()
                if (GermplasmRowCode)==(LocusGeneRowCode):
                    LocusGeneAGICode.append(LocusGeneRowCode)
                    print(LocusGeneRowCode, 'common values')
    else:
        print('No match!!')

No match!!
AT1G01040	 common values
AT1G01060	 common values
AT1G01140	 common values
AT1G01220	 common values
AT2G03720	 common values
AT2G03800	 common values
AT2G04240	 common values
AT2G05210	 common values
AT3G02130	 common values
AT3G02140	 common values
AT3G02230	 common values
AT3G02260	 common values
AT3G02310	 common values
AT3G02680	 common values
AT3G02850	 common values
AT3G02870	 common values
AT3G03260	 common values
AT4G14790	 common values
AT4G15210	 common values
AT4G15560	 common values
AT4G15570	 common values
AT4G15802	 common values
AT4G15880	 common values
AT4G16420	 common values
AT4G16480	 common values
AT5G10480	 common values
AT5G10510	 common values
AT5G11110	 common values
AT5G11260	 common values
AT5G11510	 common values
AT5G12200	 common values
AT5G13290	 common values

# Problem 2: Design and create the database.
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* You may use either sqlMagic or pymysql to build the database

**Explanation**

Firstly, I have created database.

In [10]:
#%sql drop database DatabaseExam2;
#%sql show databases;
#I did it for trying to get back the values in tables, but it wasn't working for LocusGene table.

In [5]:
%sql create database DatabaseExam2;
%sql show databases;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
17 rows affected.

[('information_schema',),
 ('DatabaseExam',),
 ('DatabaseExam2',),
 ('LocusGeneexam',),
 ('Organisms',),
 ('OrganismsEasier',),
 ('ProyectEasier',),
 ('ProyectEasier2',),
 ('Researcher',),
 ('ResearcherEasier',),
 ('Samples',),
 ('germplasm',),
 ('germplasmexam',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testing123',)]

In [7]:
%sql use DatabaseExam2;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

Secondly, I have created tables. The syntax of create table:
* Germplasm Table:

-LocusGermplasm VARCHAR(15) NOT NULL PRIMARY KEY: VARCHAR because it can be any character, and NOT NULL because it always has to have some value. The limit is 15 to be sure although we know that it is 9 characters.

The following I haven't written NOT NULL because they may be empty since it is an unknown file and I don't know if there are values in all the fields. I have written that name so as not to be confused with the Locus column of the LocusGene.tsv file.

-germplasm VARCHAR(25): VARCHAR because it can be any character.

-phenotype VARCHAR(2000): VARCHAR because it can be any character. The limit is 20 to be sure because this datatype is description.

-pubmed INTEGER. INTEGER because it can be any number.

* LocusGene Table:
-Locus_id VARCHAR(15) NOT NULL PRIMARY KEY: VARCHAR because it can be any character, and NOT NULL because it always has to have some value. The limit is 15 to be sure although we know that it is 9 characters.

The following I haven't written NOT NULL because they may be empty since it is an unknown file and I don't know if there are values in all the fields. I have written that name so as not to be confused with the Locus column of the LocusGene.tsv file.

-gene VARCHAR(25): VARCHAR because it can be any character.

-protein_length INTEGER. INTEGER because it can be any number.


I have written PRIMARY KEY in LocusGermplasm and Locus_id because both columns are identical, as I have tested in Problem 1. Therefore, both tables can be joined by these columns.

In [8]:
%sql CREATE TABLE Germplasm(LocusGermplasm VARCHAR(15) NOT NULL PRIMARY KEY, germplasm VARCHAR(25), phenotype VARCHAR(2000), pubmed INTEGER);
%sql DESCRIBE Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.

[('LocusGermplasm', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('germplasm', 'varchar(25)', 'YES', '', None, ''),
 ('phenotype', 'varchar(2000)', 'YES', '', None, ''),
 ('pubmed', 'int(11)', 'YES', '', None, '')]

In [9]:
%sql CREATE TABLE LocusGene(Locus_id VARCHAR(15) NOT NULL PRIMARY KEY, gene VARCHAR(25), protein_length INTEGER);
%sql DESCRIBE LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus_id', 'varchar(15)', 'NO', 'PRI', None, ''),
 ('gene', 'varchar(25)', 'YES', '', None, ''),
 ('protein_length', 'int(11)', 'YES', '', None, '')]

In [10]:
%sql SELECT * FROM Germplasm INNER JOIN LocusGene ON LocusGermplasm = Locus_id

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

# Problem 3: Fill the database
* Using pymysql, create a Python script that reads the data from these files, and fills the database. There are a variety of strategies to accomplish this. I will give all strategies equal credit - do whichever one you are most confident with.

**Explanation**
Firstly, I have connected to the database. I have used the command for this network and I have specified this database (db='DatabaseExam2').

Secondly, I try to loading database. I have open the file. I know that the files have the columns separated by a tab (delimiter = '\t') and the fields (columns). So, I have created variable (GermplasmReader or LocusGeneReader). Then, I have loaded data with INSERT INTO and VALUES, defining its format. In this part, it is important to remember that the pubmed and protein legth columns are defined only for digits. For this reason they are not added ''.

I have used SELECT * FROM Germplasm for checking that values appear in tables. I have a problem with LocusGene and I don't know why I can't see values...

In [11]:
import re
import pymysql.cursors

import csv
import io

connection = pymysql.connect(host='localhost',
                            user='root',
                            password='root',
                            db='DatabaseExam2',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        with open ('Germplasm.tsv') as csvfile:
            GermplasmReader = csv.DictReader(csvfile, delimiter = '\t', fieldnames = ("Locus", "germplasm", "phenotype", "pubmed"))
            for row in GermplasmReader:
                print(row)
                sql = """INSERT INTO Germplasm(LocusGermplasm, germplasm, phenotype, pubmed) VALUES
                ('{}', '{}', '{}', {})""".format (row["Locus"], row["germplasm"], row["phenotype"], row["pubmed"])
                cursor.execute(sql)
    connection.commit()

finally:
    print("")
    connection.close()

OrderedDict([('Locus', 'Locus'), ('germplasm', 'germplasm'), ('phenotype', 'phenotype'), ('pubmed', 'pubmed')])
OrderedDict([('Locus', 'AT1G01040'), ('germplasm', 'CS3828'), ('phenotype', 'Increased abundance of miRNA precursors.'), ('pubmed', '17369351')])
OrderedDict([('Locus', 'AT1G01060'), ('germplasm', 'lhy-101'), ('phenotype', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.'), ('pubmed', '16891401')])
OrderedDict([('Locus', 'AT1G01140'), ('germplasm', 'SALK_058629'), ('phenotype', 'hypersensitive to low potassium media'), ('pubmed', '17486125')])
OrderedDict([('Locus', 'AT1G01220'), ('germplasm', 'SALK_012400C'), ('phenotype', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.'), ('pubmed', '18199744')])
OrderedDict([('Locus', 'AT2G03720'), ('germplasm', 'SALK_042433'), ('phenotype', 'Multiple straight hairs'), ('pubmed', '16367956')])
OrderedDict([('Locus', 'AT2G03800'), ('germplasm', 'gek1-1'), ('phenotype', 'Ethanol hypersensitivity.'), ('pubmed', '15215505')])
OrderedDict([('Locus', 'AT2G04240'), ('germplasm', 'xerico'), ('phenotype', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.'), ('pubmed', '17933900')])
OrderedDict([('Locus', 'AT2G05210'), ('germplasm', 'pot1-1'), ('phenotype', 'No visible phenotype.'), ('pubmed', '17627276')])
OrderedDict([('Locus', 'AT3G02130'), ('germplasm', 'rpk2-2'), ('phenotype', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.'), ('pubmed', '17419837')])
OrderedDict([('Locus', 'AT3G02140'), ('germplasm', 'afp4-1'), ('phenotype', 'Decreased germination on high concentrations of glucose and sorbitol.'), ('pubmed', '18484180')])
OrderedDict([('Locus', 'AT3G02230'), ('germplasm', 'rgp1-1'), ('phenotype', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.'), ('pubmed', '21478444')])
OrderedDict([('Locus', 'AT3G02260'), ('germplasm', 'tir3-1 RGLG1:rglg1 rglg2'), ('phenotype', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.'), ('pubmed', '17586653')])
OrderedDict([('Locus', 'AT3G02310'), ('germplasm', 'sep2-1'), ('phenotype', 'Non-described subtle phenotype.'), ('pubmed', '10821278')])
OrderedDict([('Locus', 'AT3G02680'), ('germplasm', 'atnbs1-1'), ('phenotype', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.'), ('pubmed', '17672843')])
OrderedDict([('Locus', 'AT3G02850'), ('germplasm', 'CS3816'), ('phenotype', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.'), ('pubmed', '17568770')])
OrderedDict([('Locus', 'AT3G02870'), ('germplasm', 'vtc4-1'), ('phenotype', 'ascorbate deficient'), ('pubmed', '16595667')])
OrderedDict([('Locus', 'AT3G03260'), ('germplasm', 'hdg8-1'), ('phenotype', 'No visible phenotype.'), ('pubmed', '16778018')])
OrderedDict([('Locus', 'AT4G14790'), ('germplasm', 'pdd17'), ('phenotype', 'Defective pollen development.'), ('pubmed', '19237690')])
OrderedDict([('Locus', 'AT4G15210'), ('germplasm', 'bmy1-2'), ('phenotype', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.'), ('pubmed', '16297066')])
OrderedDict([('Locus', 'AT4G15560'), ('germplasm', 'cla1-1'), ('phenotype', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.'), ('pubmed', '10982425')])
OrderedDict([('Locus', 'AT4G15570'), ('germplasm', 'maa3'), ('phenotype', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.'), ('pubmed', '18772186')])
OrderedDict([('Locus', 'AT4G15802'), ('germplasm', 'Athspb-2'), ('phenotype', 'Early flowering, reduced fertility, aborted seeds.'), ('pubmed', '20388662')])
OrderedDict([('Locus', 'AT4G15880'), ('germplasm', 'esd4-2'), ('phenotype', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.'), ('pubmed', '17513499')])
OrderedDict([('Locus', 'AT4G16420'), ('germplasm', 'prz1-1'), ('phenotype', 'Altered response to auxin and cytokinin'), ('pubmed', '12747832')])
OrderedDict([('Locus', 'AT4G16480'), ('germplasm', 'atint4-2'), ('phenotype', 'No visible phenotype.'), ('pubmed', '16603666')])
OrderedDict([('Locus', 'AT5G10480'), ('germplasm', 'pas2-3'), ('phenotype', 'Segregates 25% embryo lethal.'), ('pubmed', '18799749')])
OrderedDict([('Locus', 'AT5G10510'), ('germplasm', 'plt3-1'), ('phenotype', 'Short roots and shortened root meristem.'), ('pubmed', '17960244')])
OrderedDict([('Locus', 'AT5G11110'), ('germplasm', 'kns2'), ('phenotype', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.'), ('pubmed', '18779216')])
OrderedDict([('Locus', 'AT5G11260'), ('germplasm', 'hy5-101'), ('phenotype', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.'), ('pubmed', '16891401')])
OrderedDict([('Locus', 'AT5G11510'), ('germplasm', 'myb3r4-1'), ('phenotype', 'No visible phenotype.'), ('pubmed', '17287251')])
OrderedDict([('Locus', 'AT5G12200'), ('germplasm', 'pyd2-2'), ('phenotype', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.'), ('pubmed', '19413687')])
OrderedDict([('Locus', 'AT5G13290'), ('germplasm', 'crn-1'), ('phenotype', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.'), ('pubmed', '12345678')])

In [2]:
%sql SELECT * FROM Germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [3]:
%sql use DatabaseExam2;
%sql SELECT * FROM Germplasm;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
33 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', 17369351),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', 16891401),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', 17486125),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', 18199744),
 ('AT2G03720', 'SALK_042433', 'Multiple straight hairs', 16367956),
 ('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', 15215505),
 ('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', 17933900),
 ('AT2G05210', 'pot1-1', 'No visible phenotype.', 17627276),
 ('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', 17419837),
 ('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', 18484180),
 ('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', 21478444),
 ('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', 17586653),
 ('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', 10821278),
 ('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', 17672843),
 ('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', 17568770),
 ('AT3G02870', 'vtc4-1', 'ascorbate deficient', 16595667),
 ('AT3G03260', 'hdg8-1', 'No visible phenotype.', 16778018),
 ('AT4G14790', 'pdd17', 'Defective pollen development.', 19237690),
 ('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', 16297066),
 ('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', 10982425),
 ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', 18772186),
 ('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', 20388662),
 ('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', 17513499),
 ('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', 12747832),
 ('AT4G16480', 'atint4-2', 'No visible phenotype.', 16603666),
 ('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', 18799749),
 ('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', 17960244),
 ('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', 18779216),
 ('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', 16891401),
 ('AT5G11510', 'myb3r4-1', 'No visible phenotype.', 17287251),
 ('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', 19413687),
 ('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', 12345678),
 ('Locus', 'germplasm', 'phenotype', None)]

In [7]:
import re
import pymysql.cursors

import csv
import io

connection = pymysql.connect(host='localhost',
                            user='root',
                            password='root',
                            db='DatabaseExam2',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

try:
    with connection.cursor() as cursor:
        with open ('LocusGene.tsv') as csvfile:
            LocusGeneReader = csv.DictReader(csvfile, delimiter = '\t', fieldnames = ("Locus", "Gene", "ProteinLength"))
            for row in LocusGeneReader:
                print(row)
                sql = """INSERT INTO LocusGene(Locus_id, gene, protein_length) VALUES
                ('{}', '{}', {})""".format(row["Locus"], row["Gene"], row["ProteinLength"])
                #cursor.execute(sql)
    connection.commit()

finally:
    print("")
    connection.close()

OrderedDict([('Locus', 'Locus'), ('Gene', 'Gene'), ('ProteinLength', 'ProteinLength')])
OrderedDict([('Locus', 'AT1G01040'), ('Gene', 'DCL1'), ('ProteinLength', '332')])
OrderedDict([('Locus', 'AT1G01060'), ('Gene', 'LHY'), ('ProteinLength', '290')])
OrderedDict([('Locus', 'AT1G01140'), ('Gene', 'CIPK9'), ('ProteinLength', '223')])
OrderedDict([('Locus', 'AT1G01220'), ('Gene', 'FKGP'), ('ProteinLength', '190')])
OrderedDict([('Locus', 'AT2G03720'), ('Gene', 'MRH6'), ('ProteinLength', '189')])
OrderedDict([('Locus', 'AT2G03800'), ('Gene', 'GEK1'), ('ProteinLength', '196')])
OrderedDict([('Locus', 'AT2G04240'), ('Gene', 'XERICO'), ('ProteinLength', '256')])
OrderedDict([('Locus', 'AT2G05210'), ('Gene', 'POT1A'), ('ProteinLength', '221')])
OrderedDict([('Locus', 'AT3G02130'), ('Gene', 'RPK2'), ('ProteinLength', '284')])
OrderedDict([('Locus', 'AT3G02140'), ('Gene', 'TMAC2'), ('ProteinLength', '300')])
OrderedDict([('Locus', 'AT3G02230'), ('Gene', 'RGP1'), ('ProteinLength', '301')])
OrderedDict([('Locus', 'AT3G02260'), ('Gene', 'BIG'), ('ProteinLength', '279')])
OrderedDict([('Locus', 'AT3G02310'), ('Gene', 'SEP2'), ('ProteinLength', '175')])
OrderedDict([('Locus', 'AT3G02680'), ('Gene', 'NBS1'), ('ProteinLength', '190')])
OrderedDict([('Locus', 'AT3G02850'), ('Gene', 'SKOR'), ('ProteinLength', '234')])
OrderedDict([('Locus', 'AT3G02870'), ('Gene', 'VTC4'), ('ProteinLength', '311')])
OrderedDict([('Locus', 'AT3G03260'), ('Gene', 'HDG8'), ('ProteinLength', '194')])
OrderedDict([('Locus', 'AT4G14790'), ('Gene', 'SUV3'), ('ProteinLength', '312')])
OrderedDict([('Locus', 'AT4G15210'), ('Gene', 'BAM5'), ('ProteinLength', '313')])
OrderedDict([('Locus', 'AT4G15560'), ('Gene', 'DXS'), ('ProteinLength', '219')])
OrderedDict([('Locus', 'AT4G15570'), ('Gene', 'MAA3'), ('ProteinLength', '294')])
OrderedDict([('Locus', 'AT4G15802'), ('Gene', 'HSBP'), ('ProteinLength', '254')])
OrderedDict([('Locus', 'AT4G15880'), ('Gene', 'ESD4'), ('ProteinLength', '265')])
OrderedDict([('Locus', 'AT4G16420'), ('Gene', 'ADA2B'), ('ProteinLength', '279')])
OrderedDict([('Locus', 'AT4G16480'), ('Gene', 'INT4'), ('ProteinLength', '284')])
OrderedDict([('Locus', 'AT5G10480'), ('Gene', 'PAS2'), ('ProteinLength', '301')])
OrderedDict([('Locus', 'AT5G10510'), ('Gene', 'AIL6'), ('ProteinLength', '310')])
OrderedDict([('Locus', 'AT5G11110'), ('Gene', 'SPS2'), ('ProteinLength', '232')])
OrderedDict([('Locus', 'AT5G11260'), ('Gene', 'HY5'), ('ProteinLength', '221')])
OrderedDict([('Locus', 'AT5G11510'), ('Gene', 'MYB3R-4'), ('ProteinLength', '336')])
OrderedDict([('Locus', 'AT5G12200'), ('Gene', 'PYD2'), ('ProteinLength', '310')])
OrderedDict([('Locus', 'AT5G13290'), ('Gene', 'CRN'), ('ProteinLength', '189')])

In [16]:
%sql use DatabaseExam2;
%sql SELECT * FROM LocusGene;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

# Problem 4: Create reports, written to a file
* Create a report that shows the full, joined, content of the two database tables (including a header line)
* Create a joined report that only includes the Genes SKOR and MAA3
* Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)
* Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

Create a report that shows the full, joined, content of the two database tables (including a header line):

**Explanation**
* For querying the common data, I have used SELECT * FROM and I connected both tables for Locus row. In problem 2, I have written PRIMARY KEY in LocusGermplasm and Locus_id because both columns are identical, as I have tested in Problem 1. Therefore, both tables can be joined by these columns.

In [12]:
%sql SELECT * FROM Germplasm, LocusGene WHERE \
     LocusGermplasm = Locus_id;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

Create a joined report that only includes the Genes SKOR and MAA3.

**Explanation**

I have used INNER JOIN to connect both tables with locus row. Then, I have written WHERE to  conditionally select data because I just want the column gene, and also I have used LIKE for searching specific genes: SKOR and MAA3.

I have write str to returns the string version of the given object and I have printed. I don't know why the values of LocusGene table don't appear... So I can't see the result.

In [27]:
import re 


Report = %sql SELECT * FROM Germplasm INNER JOIN LocusGene ON LocusGermplasm = Locus_id WHERE gene LIKE 'SOR' OR gene LIKE 'MAA3'
Report = str(Report)
print(Report)

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
+----------------+-----------+-----------+--------+----------+------+----------------+
| LocusGermplasm | germplasm | phenotype | pubmed | Locus_id | gene | protein_length |
+----------------+-----------+-----------+--------+----------+------+----------------+
+----------------+-----------+-----------+--------+----------+------+----------------+

Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

In [15]:
import re

Report1 = %sql SELECT COUNT(*) AS "Number of entries for Chromosome 1" FROM Germplasm RIGHT JOIN LocusGene ON LocusGermplasm = Locus_id WHERE LocusGermplasm LIKE 'AT1\dG\d+\s';
Report1 = str(Report1)
print(Report1)

Report2 = %sql SELECT COUNT(*) AS "Number of entries for Chromosome 2" FROM Germplasm RIGHT JOIN LocusGene ON LocusGermplasm = Locus_id WHERE LocusGermplasm LIKE 'AT2\dG\d+\s';
Report2 = str(Report2)
print(Report2)

Report3 = %sql SELECT COUNT(*) AS "Number of entries for Chromosome 3" FROM Germplasm RIGHT JOIN LocusGene ON LocusGermplasm = Locus_id WHERE LocusGermplasm LIKE 'AT3\dG\d+\s';
Report3 = str(Report3)
print(Report3)

Report4 = %sql SELECT COUNT(*) AS "Number of entries for Chromosome 4" FROM Germplasm RIGHT JOIN LocusGene ON LocusGermplasm = Locus_id WHERE LocusGermplasm LIKE 'AT4\dG\d+\s';
Report4 = str(Report4)
print(Report4)

Report5 = %sql SELECT COUNT(*) AS "Number of entries for Chromosome 5" FROM Germplasm RIGHT JOIN LocusGene ON LocusGermplasm = Locus_id WHERE LocusGermplasm LIKE 'AT5\dG\d+\s';
Report5 = str(Report5)
print(Report5)

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
+-------------------+
| Number of entries |
+-------------------+
|         0         |
+-------------------+
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
+-------------------+
| Number of entries |
+-------------------+
|         0         |
+-------------------+
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
+-------------------+
| Number of entries |
+-------------------+
|         0         |
+-------------------+
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
+-------------------+
| Number of entries |
+-------------------+
|         0         |
+-------------------+
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
+-------------------+
| Number of entries |
+-------------------+
|         0         |
+-------------------+

Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

In [ ]:
import re

Report6 = %sql SELECT AVG(LocusGene.protein_length) FROM Germplasm INNER JOIN LocusGene ON LocusGermplasm = Locus_id WHERE LocusGermplasm LIKE '\sddd\';
Report6 = str(Report6)
print(Report6)

**Explanation** I don't know why because I haven't values in LocusGene table. I haven't been able to separate the data you were asking for. In the following lines, I explain how I would have made the report:

Firstly, I connect with database:
connection = pymysql.connect(host='localhost',
                            user='root',
                            password='root',
                            db='DatabaseExam2',
                            charset='utf8mb4',
                            cursorclass=pymysql.cursors.DictCursor)

After, I would have written this:

try:
    with connection.cursor() as cursor:
    sql="""SELECT ... (depending on each question)"""
    cursor.execute(sql)
    results1 = cursor.fetchall()  [for bringing back all the rows of a query result]
    Report = open ('Report.txt', 'w')
    Report.write (depending on each question)